<!-- <ion-view view-title="{{conversas[0].profissional_aluno}}">
<ion-scroll style="height: 500px">
  <ion-list>
    <ion-item class="item-avatar item-icon-right" ng-repeat="(key,conversa) in conversas">
      <img ng-src="{{conversa.photoURL}}" style="width: 64px; height: 64px">
      <h2>{{conversa.texto}}</h2>

    </ion-item>
  </ion-list>
</ion-scroll>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view> -->

<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="(key,conversa) in conversas" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{conversa.photoURL}}">
        <p>{{{{conversa.texto}}}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view>

