<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{conversas[0].profissional_aluno}}">
<ion-scroll style="height: 500px">
  <ion-list>
    <ion-item class="item-avatar item-icon-right" ng-repeat="(key,conversa) in conversas">
      <img ng-src="{{conversa.photoURL}}" style="width: 64px; height: 64px">
      <h2>{{conversa.texto}}</h2>

    </ion-item>
  </ion-list>
</ion-scroll>
  <!-- <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">

      <div ng-repeat="conversa in conversas"
           class="messages">

        <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
          <span>{{conversa.texto}}</span>
        </div>




      </div>

    </ion-content> -->
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view>

