<ion-view view-title="Perfil">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

 <ion-content>
      
      <div class="list card profile-card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="{{chat.photoURL}}">
          </div>
          <h2 class="profile-name dark">{{chat.nome}} {{chat.sobrenome}}</h2>
          <div class="profile-info"><p>{{chat.cidade}} {{chat.estado}}</p></div>
          <div ng-repeat="treino in chat.treinos" >
            {{treino.name}}
          </div>
        </ion-item>
        <ion-item class="profile-item notification">

        </ion-item>
      </div>

    </ion-content>
</ion-view>
