<ion-view view-title="Perfil">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

 <ion-content>
      <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="{{chat.photoURL}}">
          </div>
          <h2 class="profile-name dark">{{chat.nome}}</h2>
          <div class="profile-info">{{chat.sobrenome}}</div>
        </ion-item>
        <ion-item class="profile-item">

        </ion-item>
      </div>
    </ion-content>
</ion-view>
