<!-- <ion-view id="register-student">
  <ion-content>
    <div class="bar bar-header bar-light">
      <a href="#" class="back-btn"><i class="icon ion-chevron-left"></i></a>
      <h1 class="title">CADASTRO</h1>
    </div>

   <div class="register-tabs">
     <ion-tabs class="tabs-icon-top">
      <ion-tab title="Student" ng-show="isSet(1)" >
         <ion-nav-view name="student-tab"></ion-nav-view>
        <div class="cstm-content">
          <a href="#" class="facebook-btn"><i class="icon ion-social-facebook"></i>Entrar com facebook</a>
          <div class="profile">
            <div class="profile-photo">
              <a href="#"><img src="img/avatar.png" alt=""></a>
            </div>
            <h5>Foto de perfil</h5>
          </div>

          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Nome</span>
              <input type="text" ng-model="user.nome"  placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Sobrenome</span>
              <input type="text" ng-model="user.sobrenome" placeholder="Suhr">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="email" ng-model="user.email" placeholder="john@suhr.com">
            </label>
             <label class="item item-input item-stacked-label">
              <span class="input-label">Tipo</span>
              <input ng-model="user.tipo" type="text">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Senha</span>
              <input ng-model="user.password" type="password">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Repetir Senha</span>
              <input type="password">
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Sexo
              </div>
              <select ng-model="user.sexo">
                <option>Masculino</option>
                <option selected>Feminino</option>
              </select>
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
                Data Nascimento
              </div>
              <select ng-model="user.nascimento">
                <option>date</option>
                <option selected>Month</option>
                <option>Red</option>
              </select>
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
               Estado
              </div>
              <select ng-model="user.estado">
                <option>State 1</option>
                <option selected>State 2</option>
                <option>State 3</option>
              </select>
            </label>

            <label class="item item-input item-select">
              <div class="input-label">
                Cidade
              </div>
              <select ng-model="user.cidade">
                <option>City 1</option>
                <option selected>City 2</option>
                <option>City 3</option>
              </select>
             
            </label>
            <ion-checkbox ng-model="filter.red">Li e aceito os termos de uso</ion-checkbox>

            <button ng-click="cadastro(user)" class="button button-block button-positive register-btn">Cadastrar</button>

          </div>

        </div>
       </ion-tab>
       <ion-tab title="Professional" >
         <ion-nav-view name="professional-tab" ng-show="isSet(2)">
           <div class="cstm-content">
             <a href="#" class="facebook-btn"><i class="icon ion-social-facebook"></i>Entrar com facebook</a>
             <div class="profile">
               <div class="profile-photo">
                 <a href="#"><img src="img/avatar.png" alt=""></a>
               </div>
               <h5>Profile photo</h5>
             </div>

             <div class="list">
               <label class="item item-input item-stacked-label">
                 <span class="input-label">Nome</span>
                 <input type="text" ng-model="user.nome"  placeholder="John">
               </label>
               <label class="item item-input item-stacked-label">
                 <span class="input-label">Sobrenome</span>
                 <input type="text" ng-model="user.sobrenome"  placeholder="Suhr">
               </label>
               <label class="item item-input item-stacked-label">
                 <span class="input-label">Email</span>
                 <input type="email" ng-model="user.email"  placeholder="john@suhr.com">
               </label>
               <label class="item item-input item-stacked-label">
                 <span class="input-label">Senha</span>
                 <input type="password" ng-model="user.password" >
               </label>
               <label class="item item-input item-stacked-label">
                 <span class="input-label">Repetir Senha</span>
                 <input type="password">
               </label>
               <label class="item item-input item-select">
                 <div class="input-label">
                   Sexo
                 </div>
                 <select ng-model="user.sexo" >
                   <option>Masculino</option>
                   <option selected>Feminino</option>
                 </select>
               </label>

               <label class="item item-input item-select">
                 <div class="input-label">
                   Data Nascimento
                 </div>
                 <select ng-model="user.nascimento" >
                   <option>date</option>
                   <option selected>Month</option>
                   <option>Red</option>
                 </select>
               </label>

               <label class="item item-input item-select">
                 <div class="input-label">
                   Estado
                 </div>
                 <select ng-model="user.estado" >
                   <option>State 1</option>
                   <option selected>State 2</option>
                   <option>State 3</option>
                 </select>
               </label>

               <label class="item item-input item-select">
                 <div class="input-label">
                   Cidade
                 </div>
                 <select ng-model="user.cidade" >
                   <option>City 1</option>
                   <option selected>City 2</option>
                   <option>City 3</option>
                 </select>
               </label>
                <input type="text" ng-model="user.tipo">
            </label>
               <ion-checkbox ng-model="filter.red">Li e aceito os termos de uso</ion-checkbox>

               <button ng-click="cadastro(user)" class="button button-block button-positive register-btn">Cadastrar</button>

             </div>

           </div>
         </ion-nav-view>
       </ion-tab>
     </ion-tabs>
   </div>

  </ion-content>
</ion-view> -->

