<ion-view>


  <ion-content>
    <div class="list">
      <div class="item item-input-inset subheader">
        <label class="item-input-wrapper">
             <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete col-90" autocomplete="off" ng-model="formData.city" item-view-value-key="formatted_address" items-method="getAddressSuggestions(query)" placeholder="Cidade, UF" max-selected-items="1" cancel-label="Cancelar" select-items-label="Selecione uma cidade" />
            <button class="button button-small">
                <i class="icon ion-ios-search"></i>
            </button>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>

