<ion-view view-title="Motion Lists">
    <ion-content>
        <div class="im-wrapper">
            <h4 class="no-border no-padding-bottom">List Motions</h4>
            <strong>Tap an item</strong>
        </div>
          <ion-list class="animate-ripple">
              <ion-item nav-clear ng-repeat="conversa in conversas" menu-close class="item-icon-right item-avatar" ng-click="blinds();">
                  <a href="#/tab/chats/{{conversa.id}}"><img src="{{conversa.photoURL}}"></a>
                  <h2>{{conversa.sobrenome}}</h2>
                  <p>ionicMaterialMotion.blinds();</p>
                  <i class="icon ion-chatbubble muted"></i>
              </ion-item>
          </ion-list>
        </div>
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
