<ion-view view-title="Motion Lists">
    <ion-content>
          <ion-list class="animate-ripple">
              <ion-item nav-clear ng-repeat="conversa in conversas" menu-close class="item-icon-right item-avatar" ng-click="blinds();">
                  
                  <img src="{{conversa.photoURL}}"></a>
                  <h2>{{conversa.sobrenome}}</h2>
                  <a href="#/tab/chats/{{conversa.id}}"><i class="icon ion-chatbubble muted"></i></a>
              </ion-item>
          </ion-list>
        </div>
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>




