<!-- <ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="conversa in conversas" type="item-text-wrap" href="#/tab/chats/{{conversa.id}}">
        <img ng-src="{{conversa.photoURL}}">
        <h2>{{conversa.nome}}</h2>
        <p>{{conversa.sobrenome}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->



    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a ng-repeat="conversa in conversas" type="item-text-wrap" href="#/tab/chats/{{conversa.id}}" class="item item-avatar item-icon-right in" style="transition-delay: 0.49s;">
                    <img src="{{conversa.photoURL}}">
                    <h2>{{conversa.sobrenome}}</h2>
                    <i class="icon ion-chatbubble muted"></i>
                </a>   
            </div>
        </div>
    </div>
    <div class="scroll-bar scroll-bar-v">
        <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 519px;"></div>
    </div>
</ion-content>
